###
'.platform-darwin .paint':
	'cmd-+': 'paint:zoom-in'
	'cmd-=': 'paint:zoom-in'
	'cmd--': 'paint:zoom-out'
	'cmd-_': 'paint:zoom-out'
	'cmd-0': 'paint:reset-zoom'

'.platform-win32 .paint':
	'ctrl-+': 'paint:zoom-in'
	'ctrl-=': 'paint:zoom-in'
	'ctrl--': 'paint:zoom-out'
	'ctrl-_': 'paint:zoom-out'
	'ctrl-0': 'paint:reset-zoom'
###